{% extends 'base.html' %}
{% block title %}EasyFood - Principal{% endblock %}
<body>    
{% block content %}

<style>

    .formbut {
        display: flex; flex-direction: column; height: 50vh; align-items: center; justify-content: space-evenly;
    }
    .btn-outline-primary{
        color: #00A8F3;
        border-color: #00A8F3;
    }
    .btn-outline-primary:hover{
        background-color: #00A8F3;
        color:  white;
    }
    .btn-info{
        background-color: #00A8F3;
        color: white;   
        width: 12rem;
        height: 4rem;
        font-size: 20px;
        font-weight: 500;
    }
    .btn-info:hover{
        color: white;
    }

</style>

<div class="container2 poppins-regular">

    <h1>¿Qué vamos a comer hoy?</h1>

    <h4>¡Te recomendamos este producto!</h4>

    <div style=" display: flex; width: 100%; flex-direction: row; justify-content: space-evenly; align-items: center;">

        <form action="{% url 'home' %}" method="get" class="formbut">
            <button type="submit" name="searchProduct" class="btn btn-info btn-lg" value="Mas pesado">Más pesado</button>
            <button type="submit" name="searchProduct" class="btn btn-info btn-lg" value="Mas saludable">Más saludable</button>
        </form>
        {% if best_prod %}
        <div class="best_prod{% if forloop.first %} showing{% endif %}" style="float:right;">
            <div class="card text-center mb-2" style="width: 22rem; justify-items: center;">
                <h5 class="card-title" style="margin-top: 0.5rem; ">{{ best_prod.title }}</h5>
                <img src="{{ best_prod.image }}" class="card-img-top" alt="{{ best_prod.nombre }}">
                <div class="card-body">
                    <p class="card-text">{{ best_prod.description }}</p>
                    <p class="card-text" style="font-weight: bold;">Precio: ${{ best_prod.price }}</p>
                    <a href="{% url 'product_detail' product_name=best_prod.title %}" class="btn btn-outline-primary">Sobre el producto</a>
                </div>
                
            </div>
        </div>
        {% else %}
            <p>No product found.</p>
        {% endif %}
        <form action="{% url 'home' %}" method="get" class="formbut">
            <button type="submit" name="searchProduct" class="btn btn-info btn-lg" value="Menor precio">Menor precio</button>
            <button type="submit" name="searchProduct" class="btn btn-info btn-lg" value="Mayor precio">Mayor precio</button>
        </form>
    </div>
</div>
{% endblock content %}
</body>

    <!-- <div style="margin-bottom: 10px;">
        <form action="{% url 'home' %}" method="get">
            <label for="searchProduct">Buscar un producto:</label>
            <input type="text" id="searchProduct" name="searchProduct">
            <button type="submit">Buscar</button>
        </form>
    </div> -->
