<!DOCTYPE html>
<html lang="es">
<head>

    {% load static %}

    <link rel="icon" href="{% static 'EasyFood/favicon.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyFood - Productos</title>

    <style>
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      body {
        display: flex;
        flex-direction: column;
      }
      .navmenu {
        width: 50%; 
        align-items: center; 
        justify-content: right; 
        display: flex;
      }
      .logo {
        width: 50%; 
        align-items: center; 
        display: flex;
      }
      span {
        font-size: 25px;
        padding: 10px
      }
    </style>

    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>

<header>
  <div class ="poppins-regular" style="display: flex; width: 100%;">
      <div class="logo">
              <a href="{% url 'home' %}"><img style="width: 20%; height: 20%;" src="{% static 'EasyFood/easyfood-nb.png' %}" alt="Logo EasyFood"></a>       
      </div>
      <div class="navmenu">
          <span>
              <a href="{% url 'products' %}">Productos</a>
          </span>
          <span>
              About Us
          </span>
      </div>
  </div>
</header>

<body>

  <div class="container">

    <!-- Formulario de barra de busqueda -->
    <form action="" id="form-search" method="GET">
      <div class="mb-3">
        <label for="searchProduct" class="form-label">
          Busca un Producto
        </label>
        <input type="text" id="searchProduct" class="form-control" name="searchProduct">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </form>

    {% if results %}
    <ul>
        {% for resultado in results %}
            <li>{{ resultado.nombre }}</li>
        {% endfor %}
    </ul>
      {% else %}
          <p>No se encontraron resultados.</p>
      {% endif %}
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for product in products %}
      <section id="seccion-{{ product.title }}">
        <div class="col">
          <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="#" class="btn btn-primary">Precio: ${{ product.price }}</a>
            </div>
          </div>
        </div>
      </section>
      {% endfor %}
    </div>
  </div>

</body>

<!-- Moverse al resultado -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var formSearch = document.getElementById('form-search');

      formSearch.addEventListener('submit', function(event) {
          event.preventDefault();
          console.log('Formulario enviado');
          var searchInput = document.getElementById('searchProduct');
          var query = searchInput.value.trim();
          console.log('Término de búsqueda:', query);

          if (query.length > 0) {
              // Aquí puedes ajustar el selector según la sección a la que deseas desplazarte
              var destiny = document.getElementById('seccion-' + query);
              if (destiny) {
                  destiny.scrollIntoView({ behavior: 'smooth' });
              }
          }
      });
  });
</script>

</html>