{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
</head>
<body>
    <h1>Recommendations</h1>

    <form action="{% url 'recommendations' %}" method="get">
        <label for="searchProduct">Search Product:</label>
        <input type="text" id="searchProduct" name="searchProduct">
        <button type="submit">Search</button>
    </form>

    {% if best_prod %}
        <h2>Best Product:</h2>
        <div>
            <h3>Title: {{ best_prod.title }}</h3>
            <p>Description: {{ best_prod.description }}</p>
            <!-- Add more fields as needed -->
        </div>
    {% else %}
        <p>No product found.</p>
    {% endif %}
</body>
</html>
